<article class="row">
      <section class="resenia_empresa col-md-6 col-sm-4 hidden-xs">
        <h1>¿QUIÉNES SOMOS?</h1>
        <p>Fue el Perro es un emprendimiento de diseño y producción de indumentaria diferenciada para gastronomía.
          Pensando en las necesidades del rubro, cada prenda es única. Combinando texturas, formas, materiales y géneros en plena tendencia, con el objetivo de lograr una imagen integral, con identidad.
          Nuestros fuerte son los delantales, confeccionados con gabardinas y denim de calidad, géneros de workwear por excelencia, por sus características de resistencia, durabilidad y comodidad.
          Los invitamos a conocernos y hacernos sus pedidos especiales!
        </p>
      </section>
      <section class="carrousel_fotos col-md-6 col-sm-8 col-xs-12">
        <div id="galeria_fotos" class="carousel slide" data-ride="carousel">
          <ol class="carousel-indicators">
            <li data-target="#galeria_fotos" data-slide-to="0" class="active"></li>
            <li data-target="#galeria_fotos" data-slide-to="1"></li>
            <li data-target="#galeria_fotos" data-slide-to="2"></li>
            <li data-target="#galeria_fotos" data-slide-to="3"></li>
            <li data-target="#galeria_fotos" data-slide-to="4"></li>
            <li data-target="#galeria_fotos" data-slide-to="5"></li>
            <li data-target="#galeria_fotos" data-slide-to="6"></li>
          </ol>
          <section class="carousel-inner" role="listbox">
            <div class="item active">
              <img src="images/perrobanner.png" alt="Delantal, décimo diseño">
            </div>
            <div class="item">
              <img src="images/delantal1.png" alt="Delantal primer diseño">
            </div>
            <div class="item">
              <img src="images/delantal1.png" alt="Delantal, segundo diseño">
            </div>
            <div class="item">
              <img src="images/delantal1.png" alt="Delantal, cuarto diseño">
            </div>
            <div class="item">
              <img src="images/delantal1.png" alt="Delantal, quinto diseño">
            </div>
            <div class="item">
              <img src="images/delantal1.png" alt="Delantal, noveno diseño">
            </div>
          </section>
          <a class="left carousel-control" href="#galeria_fotos" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only"></span>
          </a>
          <a class="right carousel-control" href="#galeria_fotos" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only"></span>
          </a>
          </div>
        </section>
</article>
{{outlet}}
